target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/resources/components/
!**/src/test/resources/components/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea/
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbproject/spring-file-reloading-map.xml

### VS Code ###
.vscode/

### Operating System ###
log/
*.log
